# Redmine API Configuration
REDMINE_API_KEY=cf5cf5a5e16b68033067afdacb3e82b77b137af6
REDMINE_HOST=easyredmine.simpliciti.fr
REDMINE_DEFAULT_ENDPOINT=/issues.json

# SSL Configuration
# The server requires legacy SSL renegotiation
# This is handled in code with SSL_OP_LEGACY_SERVER_CONNECT option
# NODE_TLS_REJECT_UNAUTHORIZED=0 # Uncomment ONLY if needed for self-signed certs

# Logging Options
# Available levels: DEBUG, INFO, WARN, ERROR
LOG_LEVEL=INFO

# UI Configuration
# Enable or disable emoji in the CLI
ENABLE_EMOJI=true

# Pagination Settings
ITEMS_PER_PAGE=10

# Default number of items to fetch per API request (Redmine's max is usually 100)
REDMINE_API_DEFAULT_LIMIT=100

# Scheduled Local Search Configuration (for server.js)
# Cron schedule for the local search task (e.g., '0 * * * *' for every hour at minute 0)
# Defaults to '0 * * * *' if not set.
LOCAL_SEARCH_CRON_SCHEDULE=

# Cron schedule for syncing all issues from Redmine (e.g., '0 */6 * * *' for every 6 hours)
# Defaults to '0 */6 * * *' if not set.
SYNC_ISSUES_CRON_SCHEDULE=

# Swagger UI Basic Authentication
# If both SWAGGER_USER and SWAGGER_PASSWORD are set, Swagger UI (/api-docs) will be protected.
SWAGGER_USER=
SWAGGER_PASSWORD=

# MongoDB Configuration (for Admin Page & Settings)
# URI to connect to MongoDB instance (e.g., mongodb://localhost:27017/redmineApp)
MONGO_URI=

# Admin Credentials for /api/app/configure and potentially /public/index.html
# If both ADMIN_USER and ADMIN_PASSWORD are set, the /api/app/configure endpoint will be protected.
ADMIN_USER=
ADMIN_PASSWORD=
